.travelFilter {
    width: 100%;
    /* height: 100px; */
    background-color: grey;
}
.travelFilter .filterBtn {
    width: 100px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}
.travelFilter .filterHiddenBox {
    width: 150px;
    height: 200px;
    background-color: pink;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}